*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Appcontainer{
    display:flex;
    height: 86vh;
}
.left{
    flex:2;
    background-color: rgb(26, 29, 29);
    overflow-y: scroll;
    position: sticky;
}
.center{
    flex:5;
    background-color: rgb(26, 29, 29);
    overflow-y: scroll;
    position: sticky;
    top: 0;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right{
    background-color: rgb(26, 29, 29);
    flex: 2.5;
    overflow-y: scroll;
    position: sticky;
    top: 0;


}